.categ-tab-dash{
    margin-left: 50px;
    margin-bottom: 70px;
    padding-top: 30px;
}
.page-title-dash{
    font-weight: 700;
    font-size: 30px;
    color: #df8919;
    margin-left: 40px;
}
.btn-dash-action{
    font-size: 11px;
    margin: 10px;
}
.btn-edit{
    background-color: #df8919;
    color: yellow;
}
.btn-delete{
    background-color: rgb(134, 74, 74);
    color: whitesmoke;
}



@media screen and (max-width:768px){
    .categ-tab-dash{
        margin-left: 10px;
        margin-right: 0px;
        padding-right: 0px !important;
    }
    .admin-btn-categs{
        font-size: 14px;
        margin-right: 6px;
        margin-bottom: 10px;
    }
}