.btn-login{
    background-color:  #3A3A5E;
    font-size: 13px;
    color: whitesmoke;
    margin-top: 10px;
}
.login-box{
    max-width: 350px;
    margin: auto;
    margin-top: 150px;
    padding: 30px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 7px;
}
.back-to-home{
    font-size: 12px;
    color: rgb(187, 44, 44);
    font-weight: 500;
    margin-top: 10px;
}
#login-header{
    margin-bottom: 25px;
}
.alert{
    font-size: 14px;
}


@media screen and (max-width:768px){
    .login{
        padding: 20px;
    }
}