.create-post{
    background-color: whitesmoke;
    min-height: 100vh;
}
.create-post-form{
    padding-left: 120px;
    padding-right: 150px;
    /* margin-top: 40px; */
}
.page-title{
    font-weight: 600;
    font-size: 30px;
    color: #D7634E;
    margin-bottom: 20px;
    margin-left: -50px;
}
.img-preview{
    height: 150px;
    width: 200px;
    margin: 30px;
    border-radius: 5px;
}
.upload-inpt{
    font-size: 14px;
}
@media screen and (max-width:768px){
    .create-post-form{
        padding-left: 20px;
        padding-right: 20px;
    }
    .page-title{
        margin-left: 0px;
        font-size: 25px;
    }
}