

.logout{
    margin-left: 30px;
    font-size: 10px;
    color: #D7634E;
}
.user{
    display: flex;
    flex-direction: row;
    margin-bottom: 0 !important;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #1D1E26; */
}
#dashboard-contents{
    padding: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    /* border: 2px solid green; */
    width: 100%;

    
}
.dashboard-pg-header{
    /* background: #3A3A5E; */
    background-color: whitesmoke;
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
    /* height: 60px; */
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 40px;
}
.dashboard-sidenav{
    /* border: 2px solid red; */
    padding: 0 !important;
    background-color: black;
    width: 270px;
  
}
.dashboard-main{
    min-height: 100vh;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
}
@media screen and (max-width:768px){
    .dashboard-pg-header{
        padding-right: 15px;
        height: 70px;
        padding-left: 0px;
    }
    .dashboard-header{
        display: flex;
        flex-direction: row;
    }
    .icons{
        margin-top: -30px;
    }
    
  
    .logout{
        margin-left: 15px;
    }
    .dashboard-main{
        padding-left: 0px;
    }
}
@media screen and (min-width:761px) and (max-width:1200px) {
    /* .dashboard-sidenav{
        width: 250px;
    } */
}

