.contactMe{
    background-color:  #3A3A5E;
    padding-top: 70px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 70px;
}
.form-group{
    margin-bottom: 20px;
}
.form{
    margin-top: 50px;
}
.contact-input{
    background-color: #282853 !important;
    color: whitesmoke !important;
    border: 1px solid #282853 !important;
    font-size: 14px;
}
.btn-submit-msg{
    background-color:  #FB9C23 !important;
    padding: 10px !important;
    color: whitesmoke !important;
    font-size: 14px !important;
}
.footer{
    color: whitesmoke !important;
    margin-top: 50px;
}
.fabs{
    margin-right: 20px;
    color: whitesmoke;
}

@media screen and (max-width:768px) {
    .contactMe{
        padding-left: 20px;
        padding-right: 20px;
    }
    .contact-input{
        font-size: 13px !important;
    }
}