.drawer-item{
    line-height: 50px;
    cursor: pointer;
    color: white;
    width:100%;
}
.drawer-item-text{
    font-size: 13px;
    font-weight: 600;
}
.drawer-item-icon{
    margin-right: 10px;
}
