body{
    font-family: 'Poppins', sans-serif;
    
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.home-wrapper{
  height: fit-content;
   font-family: 'Poppins', sans-serif;
   background-color: #1f2235;
}
.preloader-box{
  background-color: #3a4169;
  height:100vh;
  justify-content:center;
  text-align: center;
  padding-top: 300px;
  padding-left:47%;
}