body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.home-wrapper{
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}
.home-hr{
    margin-top: 50px;
}
.hideOnDesktop{
    display: none;
}

@media screen and (max-width:768px) {
    .hideOnMobile{
        display: none;
    }
    .hideOnDesktop{
        display: block;
    }
}