.our-service{
    margin-top: 80px;
    padding-left: 300px;
    padding-right: 300px;
    margin-bottom: 80px;
    color: #3A3A5E;
    font-size: 14px;
    font-weight: 500;
}
.what-we-do{
    color: #FB9C23;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.service-bold{
    font-weight: 700;
    color: #3A3A5E;
    font-size: 35px;
    margin-bottom: 10px;
}

@media screen and (max-width:768px) {
    .our-service{
        padding-left: 40px;
        padding-right: 40px;

    }
    .service-bold{
        font-size: 30px;
    }
    .what-we-do{
        font-size: 18px;
    }
}