.portfolio{
    margin-top: 80px;
    padding-left: 300px;
    padding-right: 300px;
    color: #3A3A5E;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}
.btn-divider{
    border: 0px solid whitesmoke;
    border-bottom:4px solid #FB9C23;
    width: 200px;
}
.categ-tab{
    margin-top: 50px;
}
.btn-categs{
    background-color: inherit;
    color: #3A3A5E;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
    border-radius: 30px;
    border: 2px solid whitesmoke;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.active{
    border: 4px solid #FB9C23;
}
.proj-cards {
    padding-left: 80px;
    padding-right: 50px;
    height: fit-content;
   
}
.proj-card{
    background-color: white;
    padding: 0 !important;
    padding-right: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.proj-card-texts{
    padding: 15px;
}
.proj-img{
    height: 300px;
    width: 100%;
    border-radius: 5px;
}
.textIcons{
    font-size: 13px;
    font-weight: 600;
    color: #3A3A5E;
}
.admin{
    color: #FB9C23;
}
.text-icon{
    margin-right: 20px;
}
.fa-proj-card{
    margin-right: 4px;
    color: #3A3A5E;
}
.card-title{
    font-weight: 600;
    font-size: 14px;
    color: rgb(148, 136, 136);
    line-height: 25px;
    margin-top: 20px;
}
.card-read-more{
    color: #FB9C23;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
}

@media screen and (max-width:768px) {
    .portfolio{
        padding-left: 20px;
        padding-right: 20px;
    }
    .proj-cards{
        padding-left: 20px;
        padding-right: 20px;
    }
}