.colored-services-text{
    color:#C84C5B;
    font-size: 15px;
    font-weight: 600;
}
.our-service{
    margin-top: 60px;
    padding-right: 300px;
    padding-left: 300px;
    margin-bottom: 30px;
    padding-bottom: 60px;
}
.my-service-text{
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.service-details-text{
    font-size: 14px;
    color: white;
    font-weight: 200; 
    line-height: 30px; 
    margin-bottom: 20px;
}
.colored-divider{
    border-bottom: 4px solid #C84C5B;
    width: 100px;
    margin-left: 320px;
}
@media screen and (max-width:768px){
    .our-service{
        padding-left:40px;
        padding-right:40px;
    }
    .colored-divider{
        margin-left:100px;
    }

}